.p-abs {
    position: absolute;
}

#tvDeviceZoneCard {
    top: 278px;
    left: 630px;
}

#tvSpeakerZoneCard {
    top: 351px;
    left: 580px;
}

#spotlightLeftZoneCard {
    top: 224px;
    left: 470px;
}

#outsideMotionSensorLeftCard {
    top: 454px;
    left: 480px;
}

#kitchenTvZoneCard {
    top: 500px;
    left: 580px;
}

#tvThermostatZoneCard {
    top: 290px;
    left: 740px;
}

#bedroomLightZoneCard {
    top: 306px;
    left: 900px;
}

#doorLockZoneCard {
    top: 505px;
    left: 778px;
}

#doorKeypadZoneCard {
    top: 499px;
    left: 747px;
}

#bedroomTableZoneCard {
    top: 334px;
    left: 668px;
}

#spotlightRightZoneCard {
    top: 230px;
    left: 770px;
}

#garageWaterTankZoneCard {
    top: 468px;
    left: 840px;
}

#garageScreenZoneCard {
    top: 486px;
    left: 864px;
}

li#outsideMotionSensorRightCard {
    top: 454px;
    left: 894px;
}
