// Desktop Card Locations
#spotlightLeftZoneCard {
    top: 224px;
    left: 384px;
}

#tvSpeakerZoneCard {
    top: 328px;
    left: 512px;
}

#tvDeviceZoneCard {
    top: 269px;
    left: 550px;
}

#tvThermostatZoneCard {
    top: 282px;
    left: 655px;
}

#bedroomLightZoneCard {
    top: 288px;
    left: 838px;
}

#bedroomTableZoneCard {
    top: 324px;
    left: 601px;
}

#spotlightRightZoneCard {
    top: 222px;
    left: 730px;
}

#outsideMotionSensorLeftCard {
    top: 452px;
    left: 398px;
}

#kitchenTvZoneCard {
    top: 502px;
    left: 512px;
}

#doorKeypadZoneCard {
    top: 498px;
    left: 692px;
}

#doorLockZoneCard {
    top: 514px;
    left: 726px;
}

#garageWaterTankZoneCard {
    top: 482px;
    left: 772px;
}

#garageScreenZoneCard {
    top: 476px;
    left: 806px;
}

#outsideMotionSensorRightCard {
    top: 448px;
    left: 840px;
}

// Laptop Card Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZoneCard {
        top: 168px;
        left: 70px;
    }

    #tvSpeakerZoneCard {
        top: 296px;
        left: 207px;
    }

    #tvDeviceZoneCard {
        top: 228px;
        left: 240px;
    }

    #tvThermostatZoneCard {
        top: 235px;
        left: 384px;
    }

    #bedroomLightZoneCard {
        top: 246px;
        left: 576px;
    }

    #bedroomTableZoneCard {
        top: 288px;
        left: 362px;
    }

    #spotlightRightZoneCard {
        top: 171px;
        left: 496px;
    }

    #outsideMotionSensorLeftCard {
        top: 434px;
        left: 82px;
    }

    #kitchenTvZoneCard {
        top: 491px;
        left: 206px;
    }

    #doorKeypadZoneCard {
        top: 480px;
        left: 410px;
    }

    #doorLockZoneCard {
        top: 503px;
        left: 454px;
    }

    #garageWaterTankZoneCard {
        top: 464px;
        left: 548px;
    }

    #garageScreenZoneCard {
        top: 466px;
        left: 591px;
    }

    #outsideMotionSensorRightCard {
        top: 436px;
        left: 642px;
    }
}

// Tablet Card Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZoneCard {
        top: 279px;
        left: 68px;
    }

    #tvSpeakerZoneCard {
        top: 372px;
        left: 165px;
    }

    #tvDeviceZoneCard {
        top: 317px;
        left: 199px;
    }

    #tvThermostatZoneCard {
        top: 323px;
        left: 302px;
    }

    #bedroomLightZoneCard {
        top: 335px;
        left: 436px;
    }

    #bedroomTableZoneCard {
        top: 366px;
        left: 182px;
    }

    #spotlightRightZoneCard {
        top: 282px;
        left: 286px;
    }

    #outsideMotionSensorLeftCard {
        top: 473px;
        left: 66px;
    }

    #kitchenTvZoneCard {
        top: 511px;
        left: 166px;
    }

    #doorKeypadZoneCard {
        top: 509px;
        left: 314px;
    }

    #doorLockZoneCard {
        top: 529px;
        left: 342px;
    }

    #garageWaterTankZoneCard {
        top: 496px;
        left: 320px;
    }

    #garageScreenZoneCard {
        top: 492px;
        left: 361px;
    }

    #outsideMotionSensorRightCard {
        top: 468px;
        left: 394px;
    }
}

// Mobile Small Web Browser Card Locations
@media screen and (max-width: 500px) {
    #spotlightLeftZoneCard {
        top: 36px;
        left: 105px;
    }
    #tvSpeakerZoneCard {
        top: 36px;
        left: 105px;
    }

    #tvDeviceZoneCard {
        top: 36px;
        left: 105px;
    }

    #tvThermostatZoneCard {
        top: 36px;
        left: 105px;
    }

    #bedroomLightZoneCard {
        top: 36px;
        left: 105px;
    }

    #bedroomTableZoneCard {
        top: 36px;
        left: 105px;
    }

    #spotlightRightZoneCard {
        top: 36px;
        left: 105px;
    }

    #outsideMotionSensorLeftCard {
        top: 36px;
        left: 105px;
    }

    #kitchenTvZoneCard {
        top: 36px;
        left: 105px;
    }

    #doorKeypadZoneCard {
        top: 36px;
        left: 105px;
    }

    #doorLockZoneCard {
        top: 36px;
        left: 105px;
    }

    #garageWaterTankZoneCard {
        top: 36px;
        left: 105px;
    }

    #garageScreenZoneCard {
        top: 36px;
        left: 105px;
    }

    #outsideMotionSensorRightCard {
        top: 36px;
        left: 105px;
    }
}

// Mobile L Card Locations
@media screen and (max-width: 425px) {
    #spotlightLeftZoneCard {
        top: 32px;
        left: 12%;
    }
    #tvSpeakerZoneCard {
        top: 32px;
        left: 12%;
    }

    #tvDeviceZoneCard {
        top: 32px;
        left: 12%;
    }

    #tvThermostatZoneCard {
        top: 32px;
        left: 12%;
    }

    #bedroomLightZoneCard {
        top: 32px;
        left: 12%;
    }

    #bedroomTableZoneCard {
        top: 32px;
        left: 12%;
    }

    #spotlightRightZoneCard {
        top: 32px;
        left: 12%;
    }

    #outsideMotionSensorLeftCard {
        top: 32px;
        left: 12%;
    }

    #kitchenTvZoneCard {
        top: 32px;
        left: 12%;
    }

    #doorKeypadZoneCard {
        top: 32px;
        left: 12%;
    }

    #doorLockZoneCard {
        top: 32px;
        left: 12%;
    }

    #garageWaterTankZoneCard {
        top: 32px;
        left: 12%;
    }

    #garageScreenZoneCard {
        top: 32px;
        left: 12%;
    }

    #outsideMotionSensorRightCard {
        top: 32px;
        left: 12%;
    }
}

// Mobile S Card Locations
@media screen and (max-width: 320px) {
    #spotlightLeftZoneCard {
        top: 32px;
        left: 0;
    }
    #tvSpeakerZoneCard {
        top: 32px;
        left: 0;
    }

    #tvDeviceZoneCard {
        top: 32px;
        left: 0;
    }

    #tvThermostatZoneCard {
        top: 32px;
        left: 0;
    }

    #bedroomLightZoneCard {
        top: 32px;
        left: 0;
    }

    #bedroomTableZoneCard {
        top: 32px;
        left: 0;
    }

    #spotlightRightZoneCard {
        top: 32px;
        left: 0;
    }

    #outsideMotionSensorLeftCard {
        top: 32px;
        left: 0;
    }

    #kitchenTvZoneCard {
        top: 32px;
        left: 0;
    }

    #doorKeypadZoneCard {
        top: 32px;
        left: 0;
    }

    #doorLockZoneCard {
        top: 32px;
        left: 0;
    }

    #garageWaterTankZoneCard {
        top: 32px;
        left: 0;
    }

    #garageScreenZoneCard {
        top: 32px;
        left: 0;
    }

    #outsideMotionSensorRightCard {
        top: 32px;
        left: 0;
    }
}
