// Desktop Card Locations
#spotlightLeftZoneCard {
    top: 122px;
    left: 400px;
}
#tvSpeakerZoneCard {
    top: 261px;
    left: 561px;
}

#tvDeviceZoneCard {
    top: 189px;
    left: 572px;
}

#tvThermostatZoneCard {
    top: 202px;
    left: 730px;
}

#bedroomLightZoneCard {
    top: 216px;
    left: 958px;
}

#bedroomTableZoneCard {
    top: 264px;
    left: 768px;
}

#spotlightRightZoneCard {
    top: 122px;
    left: 920px;
}

#outsideMotionSensorLeftCard {
    top: 414px;
    left: 417px;
}

#kitchenTvZoneCard {
    top: 471px;
    left: 550px;
}

#doorKeypadZoneCard {
    top: 470px;
    left: 784px;
}

#doorLockZoneCard {
    top: 494px;
    left: 817px;
}

#garageWaterTankZoneCard {
    top: 445px;
    left: 972px;
}

#garageScreenZoneCard {
    top: 466px;
    left: 1020px;
}

#outsideMotionSensorRightCard {
    top: 412px;
    left: 1056px;
}

// Laptop Card Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZoneCard {
        top: 168px;
        left: 70px;
    }

    #tvSpeakerZoneCard {
        top: 296px;
        left: 207px;
    }

    #tvDeviceZoneCard {
        top: 228px;
        left: 240px;
    }

    #tvThermostatZoneCard {
        top: 235px;
        left: 384px;
    }

    #bedroomLightZoneCard {
        top: 246px;
        left: 576px;
    }

    #bedroomTableZoneCard {
        top: 288px;
        left: 362px;
    }

    #spotlightRightZoneCard {
        top: 171px;
        left: 496px;
    }

    #outsideMotionSensorLeftCard {
        top: 434px;
        left: 82px;
    }

    #kitchenTvZoneCard {
        top: 491px;
        left: 206px;
    }

    #doorKeypadZoneCard {
        top: 480px;
        left: 410px;
    }

    #doorLockZoneCard {
        top: 503px;
        left: 454px;
    }

    #garageWaterTankZoneCard {
        top: 464px;
        left: 548px;
    }

    #garageScreenZoneCard {
        top: 466px;
        left: 591px;
    }

    #outsideMotionSensorRightCard {
        top: 436px;
        left: 642px;
    }
}

// Tablet Card Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZoneCard {
        top: 279px;
        left: 68px;
    }

    #tvSpeakerZoneCard {
        top: 372px;
        left: 165px;
    }

    #tvDeviceZoneCard {
        top: 317px;
        left: 199px;
    }

    #tvThermostatZoneCard {
        top: 323px;
        left: 302px;
    }

    #bedroomLightZoneCard {
        top: 335px;
        left: 436px;
    }

    #bedroomTableZoneCard {
        top: 366px;
        left: 182px;
    }

    #spotlightRightZoneCard {
        top: 282px;
        left: 286px;
    }

    #outsideMotionSensorLeftCard {
        top: 473px;
        left: 66px;
    }

    #kitchenTvZoneCard {
        top: 511px;
        left: 166px;
    }

    #doorKeypadZoneCard {
        top: 509px;
        left: 314px;
    }

    #doorLockZoneCard {
        top: 529px;
        left: 342px;
    }

    #garageWaterTankZoneCard {
        top: 496px;
        left: 320px;
    }

    #garageScreenZoneCard {
        top: 492px;
        left: 361px;
    }

    #outsideMotionSensorRightCard {
        top: 468px;
        left: 394px;
    }
}

// Mobile L Card Locations
@media screen and (max-width: 425px) {
    #spotlightLeftZoneCard {
        top: 42px;
        left: 65px;
    }
    #tvSpeakerZoneCard {
        top: 42px;
        left: 65px;
    }

    #tvDeviceZoneCard {
        top: 42px;
        left: 65px;
    }

    #tvThermostatZoneCard {
        top: 42px;
        left: 65px;
    }

    #bedroomLightZoneCard {
        top: 42px;
        left: 65px;
    }

    #bedroomTableZoneCard {
        top: 42px;
        left: 65px;
    }

    #spotlightRightZoneCard {
        top: 42px;
        left: 65px;
    }

    #outsideMotionSensorLeftCard {
        top: 42px;
        left: 65px;
    }

    #kitchenTvZoneCard {
        top: 42px;
        left: 65px;
    }

    #doorKeypadZoneCard {
        top: 42px;
        left: 65px;
    }

    #doorLockZoneCard {
        top: 42px;
        left: 65px;
    }

    #garageWaterTankZoneCard {
        top: 42px;
        left: 65px;
    }

    #garageScreenZoneCard {
        top: 42px;
        left: 65px;
    }

    #outsideMotionSensorRightCard {
        top: 42px;
        left: 65px;
    }
}
