.p-rel {
    position: relative;
}
.adi-mobile-image {
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Slider Background Images
.adi-smart-roof-bg {
    background-image: url('../images/mobile/ADI-Smart-roof-375x300.png');
}

.adi-smart-bedroom-bg {
    background-image: url('../images/mobile/ADI-Smart-Bedroom-375x300.png');
}

.adi-smart-door-bg {
    background-image: url('../images/mobile/ADI-Smart-Door-375x300.png');
}

.adi-smart-garage-bg {
    background-image: url('../images/mobile/ADI-Smart-Garage-375x300.png');
}

.adi-smart-kitchen-bg {
    background-image: url('../images/mobile/ADI-Smart-Kitchen-375x300.png');
}

.adi-smart-livingroom-bg {
    background-image: url('../images/mobile/ADI-Smart-livingroom-375x300.png');
}

.adi-smart-outdoor-bg {
    background-image: url('../images/mobile/ADI-Smart-Outdoor-375x300.png');
}

// Styles All Carousel Slider Dots
.carousel .control-dots .dot {
    height: 16px !important;
    width: 16px !important;
    border: 1px solid #006ae3 !important;
    opacity: 1 !important;
}

// Styles Selected Carousel Dot
.dot.selected {
    background-color: #026ae1 !important;
}
