.p-rel {
    position: relative;
}
.adi-mobile-image {
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Slider Background Images
.adi-smart-roof-bg {
    background-image: url('../images/mobile/mobile-roof.jpg');
}

.adi-smart-bedroom-bg {
    background-image: url('../images/mobile/mobile-bedroom.jpg');
}

.adi-smart-door-bg {
    background-image: url('../images/mobile/mobile-door.jpg');
}

.adi-smart-garage-bg {
    background-image: url('../images/mobile/mobile-garage.jpg');
}

.adi-smart-kitchen-bg {
    background-image: url('../images/mobile/mobile-kitchen.jpg');
}

.adi-smart-livingroom-bg {
    background-image: url('../images/mobile/mobile-living-room.jpg');
}

.adi-smart-outdoor-bg {
    background-image: url('../images/mobile/mobile-outdoor.jpg');
}

// Styles All Carousel Slider Dots
.carousel .control-dots .dot {
    height: 16px !important;
    width: 16px !important;
    border: 1px solid $adi-primary !important;
    opacity: 1 !important;
}

// Styles Selected Carousel Dot
.dot.selected {
    background-color: $adi-primary !important;
}
