#spotlightLeftZone {
    top: 270px;
    left: 412px;
}

#tvSpeakerZone {
    top: 401px;
    left: 530px;
}

#tvDeviceZone {
    top: 327px;
    left: 580px;
}

#tvThermostatZone {
    top: 340px;
    left: 676px;
}

#bedroomLightZone {
    top: 356px;
    left: 842px;
}

#bedroomTableZone {
    top: 382px;
    left: 986px;
}

#spotlightRightZone {
    top: 279px;
    left: 1092px;
}

#outsideMotionSensorLeft {
    top: 504px;
    left: 420px;
}

#kitchenTvZone {
    top: 549px;
    left: 526px;
}

#doorKeypadZone {
    top: 540px;
    left: 698px;
}

#doorLockZone {
    top: 554px;
    left: 720px;
}

#garageWaterTankZone {
    top: 515px;
    left: 1156px;
}

#garageScreenZone {
    top: 534px;
    left: 1181px;
}

#outsideMotionSensorRight {
    top: 504px;
    left: 1210px;
}
