// Define Brand Variables
$adi-primary: #0673f1;
$adi-white: #fff;

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

.adi--card-list {
    list-style: none;
}

.js-card-display {
    display: none;
    transition: all 0.3s ease-in-out;
}

#homeMap {
    position: relative;
    display: block;
    background-image: url('../images/smart-home/ADI-Smart-1600.jpg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 690px;
    width: 1280px;
    margin: 0 auto;
    background-color: $adi-white;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    #homeMap {
        position: relative;
        display: block;
        background-image: url('../images/smart-home/ADI-smart-1024.jpg');
        background-position: 80% bottom;
        background-repeat: no-repeat;
        width: 1024px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    #homeMap {
        position: relative;
        display: block;
        background-image: url('../images/smart-home/ADI-Smart-768.jpg');
        background-position: 80% bottom;
        background-repeat: no-repeat;
        width: 768px;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    #homeMap {
        display: none;
    }

    .card-arrow--left {
        display: none;
    }

    .card-arrow--right {
        display: none;
    }
}

.card-arrow--left {
    height: 18px;
    width: 18px;
    background-color: $adi-white;
    position: absolute;
    z-index: 19;
    transform: rotate(45deg);
    left: -9px;
    top: 64px;
}

.card-arrow--right {
    height: 18px;
    width: 18px;
    background-color: $adi-white;
    position: absolute;
    z-index: 19;
    transform: rotate(45deg);
    right: -9px;
    top: 64px;
}
.p-abs {
    position: absolute;
}

.adi-hero-card {
    background-color: $adi-white;
    display: flex;
    flex-direction: column;
    width: 309px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
    padding: 16px;
    border-radius: 12px;
    will-change: filter;
    text-align: left;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
    /* IE11 Fallback */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.adi-hero-card--btn-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.adi-hero-card--btn-close img {
    height: 18px;
    width: 18px !important;
    cursor: pointer;
}

.adi-hero-card--img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adi-hero-card--img {
    /* width: fit-content; */
    width: 100%;
}

.adi-hero-card--product-meta {
    margin-top: 16px;
}

.adi-hero-card--product-meta-name {
    color: #0b155d;
    font-size: 12px;
    font-weight: 700;
}

.adi-hero-card--product-meta-link {
    color: #0b155d;
    font-size: 10px;
    font-weight: 500;
}

.adi-hero-card--product-copy {
    margin-top: 16px;
}

.adi-hero-card--product-copy-title {
    color: #2d2a25;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.adi-hero-card--product-copy-text {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

.adi-hero-card--shop-more {
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    background-color: #f2f3f5;
}

.adi-hero-card--shop-more-link {
    color: #133dac;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 8px;
    display: inline-block;
    border: 2px solid #004da6;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.adi-hero-card--shop-more-link:hover {
    color: $adi-white;
    background-color: #133dac;
    border: 2px solid #004da6;
}

/* CSS Pulse Animation */
.pulser {
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle {
    stroke: #0673f1;
    stroke-width: 8px;
}

/* pulse in SVG */
svg.pulse-svg {
    overflow: visible;
}
svg.pulse-svg .first-circle,
svg.pulse-svg .second-circle,
svg.pulse-svg .third-circle {
    fill: transparent;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
}
svg.pulse-svg .second-circle {
    animation-delay: 1s;
}
svg.pulse-svg .third-circle {
    animation-delay: 2s;
}

/* pulse in CSS */
.pulse-css {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: $adi-primary;
    position: relative;
}
.pulse-css:before,
.pulse-css:after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $adi-primary;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
}
.pulse-css:after {
    animation-delay: 2s;
}

@keyframes pulse-me {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.25;
    }
    70% {
        opacity: 0.15;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

// Main Hero Copy Text
.adi-hero-lead--copy-holder {
    display: block;
    position: absolute;
    width: 325px;
    left: 8px;
    top: 337px;
}

.adi-hero-lead--copy-title {
    color: #666666;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 6px;
}
.adi-hero-lead--copy-tagline {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.adi-hero-lead--copy-text {
    color: #666666;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .adi-hero-lead--copy-holder {
        background-color: hsla(0, 0%, 100%, 0.9);
        z-index: 3;
        padding: 1rem;
        border-radius: 0.25rem;
        left: 4%;
        top: 320px;
        transition: 0.3s ease-in-out;
    }

    .adi-hero-lead--copy-holder {
        width: 368px;
    }

    // https://stackoverflow.com/questions/15907079/css3-transition-fade-out-effect
    .js-d-none {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
    }
}

// Hides Carousel On All Screens Except Mobile 500px
@media screen and (min-width: 501px) {
    .mobileHomeMap {
        display: none;
        overflow-x: hidden;
    }
}
