#spotlightLeftZoneCard {
    top: 103px;
    left: 213px;
}

#spotlightLeftZone {
    top: 149px;
    left: 147px;
}
#tvSpeakerZoneCard {
    top: 293px;
    left: 412px;
}

#tvDeviceZoneCard {
    top: 214px;
    left: 430px;
}

#tvThermostatZoneCard {
    top: 226px;
    left: 655px;
}

#bedroomLightZoneCard {
    top: 233px;
    left: 768px;
}

#bedroomTableZoneCard {
    top: 300px;
    left: 821px;
}

#spotlightRightZoneCard {
    top: 110px;
    left: 1000px;
}

#outsideMotionSensorLeftCard {
    top: 460px;
    left: 228px;
}

#kitchenTvZoneCard {
    top: 540px;
    left: 412px;
}

#doorKeypadZoneCard {
    top: 530px;
    left: 676px;
}

#doorLockZoneCard {
    top: 550px;
    left: 722px;
}

#garageWaterTankZoneCard {
    top: 514px;
    left: 592px;
}

#garageScreenZoneCard {
    top: 520px;
    left: 1116px;
}

#outsideMotionSensorRightCard {
    top: 470px;
    left: 1190px;
}
