// Desktop Card Locations
#spotlightLeftZoneCard {
    top: 214px;
    left: 384px;
}
#tvSpeakerZoneCard {
    top: 328px;
    left: 512px;
}

#tvDeviceZoneCard {
    top: 269px;
    left: 550px;
}

#tvThermostatZoneCard {
    top: 282px;
    left: 655px;
}

#bedroomLightZoneCard {
    top: 302px;
    left: 838px;
}

#bedroomTableZoneCard {
    top: 324px;
    left: 601px;
}

#spotlightRightZoneCard {
    top: 214px;
    left: 720px;
}

#outsideMotionSensorLeftCard {
    top: 452px;
    left: 398px;
}

#kitchenTvZoneCard {
    top: 502px;
    left: 512px;
}

#doorKeypadZoneCard {
    top: 498px;
    left: 692px;
}

#doorLockZoneCard {
    top: 514px;
    left: 726px;
}

#garageWaterTankZoneCard {
    top: 482px;
    left: 772px;
}

#garageScreenZoneCard {
    top: 476px;
    left: 806px;
}

#outsideMotionSensorRightCard {
    top: 448px;
    left: 840px;
}
