// Desktop Card Locations
#spotlightLeftZoneCard {
    top: calc(214px - 138px);
    left: 384px;
}
#tvSpeakerZoneCard {
    top: calc(328px - 138px);
    left: 512px;
}

#tvDeviceZoneCard {
    top: calc(269px - 138px);
    left: 550px;
}

#tvThermostatZoneCard {
    top: calc(282px - 138px);
    left: 655px;
}

#bedroomLightZoneCard {
    top: calc(302px - 138px);
    left: 838px;
}

#bedroomTableZoneCard {
    top: calc(324px - 138px);
    left: 601px;
}

#spotlightRightZoneCard {
    top: calc(214px - 138px);
    left: 720px;
}

#outsideMotionSensorLeftCard {
    top: calc(452px - 138px);
    left: 398px;
}

#kitchenTvZoneCard {
    top: calc(502px - 138px);
    left: 512px;
}

#doorKeypadZoneCard {
    top: calc(498px - 138px);
    left: 692px;
}

#doorLockZoneCard {
    top: calc(514px - 138px);
    left: 726px;
}

#garageWaterTankZoneCard {
    top: calc(482px - 138px);
    left: 772px;
}

#garageScreenZoneCard {
    top: calc(476px - 138px);
    left: 806px;
}

#outsideMotionSensorRightCard {
    top: calc(448px - 138px);
    left: 840px;
}
