// Laptop Card Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZoneCard {
        top: calc(168px - 66px);
        left: 70px;
    }

    #tvSpeakerZoneCard {
        top: calc(296px - 66px);
        left: 207px;
    }

    #tvDeviceZoneCard {
        top: calc(228px - 66px);
        left: 240px;
    }

    #tvThermostatZoneCard {
        top: calc(235px - 66px);
        left: 384px;
    }

    #bedroomLightZoneCard {
        top: calc(262px - 66px);
        left: 576px;
    }

    #bedroomTableZoneCard {
        top: calc(296px - 66px);
        left: 362px;
    }

    #spotlightRightZoneCard {
        top: calc(171px - 66px);
        left: 496px;
    }

    #outsideMotionSensorLeftCard {
        top: calc(434px - 66px);
        left: 82px;
    }

    #kitchenTvZoneCard {
        top: calc(491px - 66px);
        left: 206px;
    }

    #doorKeypadZoneCard {
        top: calc(480px - 66px);
        left: 410px;
    }

    #doorLockZoneCard {
        top: calc(490px - 66px);
        left: 444px;
    }

    #garageWaterTankZoneCard {
        top: calc(464px - 66px);
        left: 548px;
    }

    #garageScreenZoneCard {
        top: calc(466px - 66px);
        left: 591px;
    }

    #outsideMotionSensorRightCard {
        top: calc(436px - 66px);
        left: 642px;
    }
}
