@media screen and (max-width: 1024px) {
    #spotlightLeftZoneCard {
        top: 0px;
        left: 70px;
    }

    #tvSpeakerZoneCard {
        top: 118px;
        left: 207px;
    }

    #tvDeviceZoneCard {
        top: 56px;
        left: 255px;
    }

    #tvThermostatZoneCard {
        top: 71px;
        left: 384px;
    }

    #bedroomLightZoneCard {
        top: 80px;
        left: 496px;
    }

    #bedroomTableZoneCard {
        top: 126px;
        left: 443px;
    }

    #spotlightRightZoneCard {
        top: 10px;
        left: 556px;
    }

    #outsideMotionSensorLeftCard {
        top: 251px;
        left: 82px;
    }

    #kitchenTvZoneCard {
        top: 310px;
        left: 206px;
    }

    #doorKeypadZoneCard {
        top: 301px;
        left: 410px;
    }

    #doorLockZoneCard {
        top: 317px;
        left: 444px;
    }

    #garageWaterTankZoneCard {
        top: 280px;
        left: 258px;
    }

    #garageScreenZoneCard {
        top: 290px;
        left: 671px;
    }

    #outsideMotionSensorRightCard {
        top: 260px;
        left: 702px;
    }
}
