// Laptop Card Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZoneCard {
        top: 168px;
        left: 70px;
    }

    #tvSpeakerZoneCard {
        top: 296px;
        left: 207px;
    }

    #tvDeviceZoneCard {
        top: 228px;
        left: 240px;
    }

    #tvThermostatZoneCard {
        top: 235px;
        left: 384px;
    }

    #bedroomLightZoneCard {
        top: 246px;
        left: 576px;
    }

    #bedroomTableZoneCard {
        top: 288px;
        left: 362px;
    }

    #spotlightRightZoneCard {
        top: 171px;
        left: 496px;
    }

    #outsideMotionSensorLeftCard {
        top: 434px;
        left: 82px;
    }

    #kitchenTvZoneCard {
        top: 491px;
        left: 206px;
    }

    #doorKeypadZoneCard {
        top: 480px;
        left: 410px;
    }

    #doorLockZoneCard {
        top: 503px;
        left: 454px;
    }

    #garageWaterTankZoneCard {
        top: 464px;
        left: 548px;
    }

    #garageScreenZoneCard {
        top: 466px;
        left: 591px;
    }

    #outsideMotionSensorRightCard {
        top: 436px;
        left: 642px;
    }
}
