// Tablet Card Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZoneCard {
        top: 279px;
        left: 68px;
    }

    #tvSpeakerZoneCard {
        top: 372px;
        left: 165px;
    }

    #tvDeviceZoneCard {
        top: 317px;
        left: 199px;
    }

    #tvThermostatZoneCard {
        top: 323px;
        left: 302px;
    }

    #bedroomLightZoneCard {
        top: 335px;
        left: 436px;
    }

    #bedroomTableZoneCard {
        top: 366px;
        left: 182px;
    }

    #spotlightRightZoneCard {
        top: 282px;
        left: 286px;
    }

    #outsideMotionSensorLeftCard {
        top: 473px;
        left: 66px;
    }

    #kitchenTvZoneCard {
        top: 511px;
        left: 166px;
    }

    #doorKeypadZoneCard {
        top: 509px;
        left: 314px;
    }

    #doorLockZoneCard {
        top: 519px;
        left: 342px;
    }

    #garageWaterTankZoneCard {
        top: 496px;
        left: 320px;
    }

    #garageScreenZoneCard {
        top: 492px;
        left: 361px;
    }

    #outsideMotionSensorRightCard {
        top: 468px;
        left: 394px;
    }
}
