// Tablet Card Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZoneCard {
        top: calc(279px - 214px);
        left: 68px;
    }

    #tvSpeakerZoneCard {
        top: calc(372px - 214px);
        left: 165px;
    }

    #tvDeviceZoneCard {
        top: calc(317px - 214px);
        left: 199px;
    }

    #tvThermostatZoneCard {
        top: calc(323px - 214px);
        left: 302px;
    }

    #bedroomLightZoneCard {
        top: calc(335px - 214px);
        left: 436px;
    }

    #bedroomTableZoneCard {
        top: calc(366px - 214px);
        left: 182px;
    }

    #spotlightRightZoneCard {
        top: calc(282px - 214px);
        left: 286px;
    }

    #outsideMotionSensorLeftCard {
        top: calc(473px - 214px);
        left: 66px;
    }

    #kitchenTvZoneCard {
        top: calc(511px - 214px);
        left: 166px;
    }

    #doorKeypadZoneCard {
        top: calc(509px - 214px);
        left: 314px;
    }

    #doorLockZoneCard {
        top: calc(519px - 214px);
        left: 342px;
    }

    #garageWaterTankZoneCard {
        top: calc(496px - 214px);
        left: 320px;
    }

    #garageScreenZoneCard {
        top: calc(492px - 214px);
        left: 361px;
    }

    #outsideMotionSensorRightCard {
        top: calc(468px - 214px);
        left: 394px;
    }
}
