@media screen and (max-width: 768px) {
    #spotlightLeftZoneCard {
        top: -10px;
        left: 68px;
    }

    #tvSpeakerZoneCard {
        top: 60px;
        left: 165px;
    }

    #tvDeviceZoneCard {
        top: 20px;
        left: 199px;
    }

    #tvThermostatZoneCard {
        top: 23px;
        left: 293px;
    }

    #bedroomLightZoneCard {
        top: 40px;
        left: 376px;
    }

    #bedroomTableZoneCard {
        top: 70px;
        left: 232px;
    }

    #spotlightRightZoneCard {
        top: 0px;
        left: 356px;
    }

    #outsideMotionSensorLeftCard {
        top: 170px;
        left: 66px;
    }

    #kitchenTvZoneCard {
        top: 202px;
        left: 166px;
    }

    #doorKeypadZoneCard {
        top: 200px;
        left: 314px;
    }

    #doorLockZoneCard {
        top: 220px;
        left: 342px;
    }

    #garageWaterTankZoneCard {
        top: 180px;
        left: 120px;
    }

    #garageScreenZoneCard {
        top: 200px;
        left: 411px;
    }

    #outsideMotionSensorRightCard {
        top: 170px;
        left: 454px;
    }

    .secondary-modal-container {
        top: 43px;
        left: 330px;
    }
}
