// Mobile
@media screen and (max-width: 500px) {
    #spotlightLeftZoneCard {
        top: 36px;
        left: 105px;
    }
    #tvSpeakerZoneCard {
        top: 36px;
        left: 105px;
    }

    #tvDeviceZoneCard {
        top: 36px;
        left: 105px;
    }

    #tvThermostatZoneCard {
        top: 36px;
        left: 105px;
    }

    #bedroomLightZoneCard {
        top: 36px;
        left: 105px;
    }

    #bedroomTableZoneCard {
        top: 36px;
        left: 105px;
    }

    #spotlightRightZoneCard {
        top: 36px;
        left: 105px;
    }

    #outsideMotionSensorLeftCard {
        top: 36px;
        left: 105px;
    }

    #kitchenTvZoneCard {
        top: 36px;
        left: 105px;
    }

    #doorKeypadZoneCard {
        top: 36px;
        left: 105px;
    }

    #doorLockZoneCard {
        top: 36px;
        left: 105px;
    }

    #garageWaterTankZoneCard {
        top: 36px;
        left: 105px;
    }

    #garageScreenZoneCard {
        top: 36px;
        left: 105px;
    }

    #outsideMotionSensorRightCard {
        top: 36px;
        left: 105px;
    }
}

// Mobile L Card Locations
@media screen and (max-width: 425px) {
    #spotlightLeftZoneCard {
        top: 32px;
        left: 12%;
    }
    #tvSpeakerZoneCard {
        top: 32px;
        left: 12%;
    }

    #tvDeviceZoneCard {
        top: 32px;
        left: 12%;
    }

    #tvThermostatZoneCard {
        top: 32px;
        left: 12%;
    }

    #bedroomLightZoneCard {
        top: 32px;
        left: 12%;
    }

    #bedroomTableZoneCard {
        top: 32px;
        left: 12%;
    }

    #spotlightRightZoneCard {
        top: 32px;
        left: 12%;
    }

    #outsideMotionSensorLeftCard {
        top: 32px;
        left: 12%;
    }

    #kitchenTvZoneCard {
        top: 32px;
        left: 12%;
    }

    #doorKeypadZoneCard {
        top: 32px;
        left: 12%;
    }

    #doorLockZoneCard {
        top: 32px;
        left: 12%;
    }

    #garageWaterTankZoneCard {
        top: 32px;
        left: 12%;
    }

    #garageScreenZoneCard {
        top: 32px;
        left: 12%;
    }

    #outsideMotionSensorRightCard {
        top: 32px;
        left: 12%;
    }
}

// Mobile S Card Locations
@media screen and (max-width: 320px) {
    #spotlightLeftZoneCard {
        top: 32px;
        left: 0;
    }
    #tvSpeakerZoneCard {
        top: 32px;
        left: 0;
    }

    #tvDeviceZoneCard {
        top: 32px;
        left: 0;
    }

    #tvThermostatZoneCard {
        top: 32px;
        left: 0;
    }

    #bedroomLightZoneCard {
        top: 32px;
        left: 0;
    }

    #bedroomTableZoneCard {
        top: 32px;
        left: 0;
    }

    #spotlightRightZoneCard {
        top: 32px;
        left: 0;
    }

    #outsideMotionSensorLeftCard {
        top: 32px;
        left: 0;
    }

    #kitchenTvZoneCard {
        top: 32px;
        left: 0;
    }

    #doorKeypadZoneCard {
        top: 32px;
        left: 0;
    }

    #doorLockZoneCard {
        top: 32px;
        left: 0;
    }

    #garageWaterTankZoneCard {
        top: 32px;
        left: 0;
    }

    #garageScreenZoneCard {
        top: 32px;
        left: 0;
    }

    #outsideMotionSensorRightCard {
        top: 32px;
        left: 0;
    }
}
