// Mobile

// SaSS Utility: Centers ProductCard on screen
@mixin center-card-mobile {
    top: 40px;
    left: 50%;
    margin-left: -155px;
}

@media screen and (max-width: 500px) {
    #spotlightLeftZoneCard {
        @include center-card-mobile();
    }
    #tvSpeakerZoneCard {
        @include center-card-mobile();
    }

    #tvDeviceZoneCard {
        @include center-card-mobile();
    }

    #tvThermostatZoneCard {
        @include center-card-mobile();
    }

    #bedroomLightZoneCard {
        @include center-card-mobile();
    }

    #bedroomTableZoneCard {
        @include center-card-mobile();
    }

    #spotlightRightZoneCard {
        @include center-card-mobile();
    }

    #outsideMotionSensorLeftCard {
        @include center-card-mobile();
    }

    #kitchenTvZoneCard {
        @include center-card-mobile();
    }

    #doorKeypadZoneCard {
        @include center-card-mobile();
    }

    #doorLockZoneCard {
        @include center-card-mobile();
    }

    #garageWaterTankZoneCard {
        @include center-card-mobile();
    }

    #garageScreenZoneCard {
        @include center-card-mobile();
    }

    #outsideMotionSensorRightCard {
        @include center-card-mobile();
    }
}
