// Desktop Pulse Locations
#spotlightLeftZone {
    top: 126px;
    left: 325px;
}

#tvSpeakerZone {
    top: 246px;
    left: 454px;
}

#tvDeviceZone {
    top: 186px;
    left: 490px;
}

#tvThermostatZone {
    top: 196px;
    left: 604px;
}

#bedroomLightZone {
    top: 212px;
    left: 778px;
}

#bedroomTableZone {
    top: 240px;
    left: 928px;
}

#spotlightRightZone {
    top: 125px;
    left: 1044px;
}

#outsideMotionSensorLeft {
    top: 365px;
    left: 340px;
}

#kitchenTvZone {
    top: 414px;
    left: 453px;
}

#doorKeypadZone {
    top: 406px;
    left: 643px;
}

#doorLockZone {
    top: 415px;
    left: 666px;
}

#garageWaterTankZone {
    top: 393px;
    left: 1090px;
}

#garageScreenZone {
    top: 391px;
    left: 1122px;
}

#outsideMotionSensorRight {
    top: 365px;
    left: 1163px;
}
