// Desktop Pulse Locations
#spotlightLeftZone {
    top: 264px;
    left: 325px;
}

#tvSpeakerZone {
    top: 384px;
    left: 454px;
}

#tvDeviceZone {
    top: 326px;
    left: 490px;
}

#tvThermostatZone {
    top: 334px;
    left: 604px;
}

#bedroomLightZone {
    top: 354px;
    left: 778px;
}

#bedroomTableZone {
    top: 382px;
    left: 928px;
}

#spotlightRightZone {
    top: 265px;
    left: 1044px;
}

#outsideMotionSensorLeft {
    top: 504px;
    left: 340px;
}

#kitchenTvZone {
    top: 554px;
    left: 453px;
}

#doorKeypadZone {
    top: 546px;
    left: 643px;
}

#doorLockZone {
    top: 551px;
    left: 666px;
}

#garageWaterTankZone {
    top: 530px;
    left: 1090px;
}

#garageScreenZone {
    top: 530px;
    left: 1122px;
}

#outsideMotionSensorRight {
    top: 504px;
    left: 1163px;
}
