// Desktop Pulse Locations
#spotlightLeftZone {
    top: 272px;
    left: 320px;
}

#tvSpeakerZone {
    top: 376px;
    left: 453px;
}

#tvDeviceZone {
    top: 320px;
    left: 490px;
}

#tvThermostatZone {
    top: 332px;
    left: 595px;
}

#bedroomLightZone {
    top: 340px;
    left: 777px;
}

#bedroomTableZone {
    top: 372px;
    left: 922px;
}

#spotlightRightZone {
    top: 270px;
    left: 1054px;
}

#outsideMotionSensorLeft {
    top: 500px;
    left: 334px;
}

#kitchenTvZone {
    top: 549px;
    left: 448px;
}

#doorKeypadZone {
    top: 544px;
    left: 638px;
}

#doorLockZone {
    top: 564px;
    left: 667px;
}

#garageWaterTankZone {
    top: 530px;
    left: 1090px;
}

#garageScreenZone {
    top: 526px;
    left: 1121px;
}

#outsideMotionSensorRight {
    top: 500px;
    left: 1158px;
}
