// Laptop Pulse Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZone {
        top: 217px;
        left: 5px;
    }

    #tvSpeakerZone {
        top: 345px;
        left: 150px;
    }

    #tvDeviceZone {
        top: 279px;
        left: 180px;
    }

    #tvThermostatZone {
        top: 285px;
        left: 325px;
    }

    #bedroomLightZone {
        top: 298px;
        left: 515px;
    }

    #bedroomTableZone {
        top: 336px;
        left: 686px;
    }

    #spotlightRightZone {
        top: 218px;
        left: 822px;
    }

    #outsideMotionSensorLeft {
        top: 484px;
        left: 20px;
    }

    #kitchenTvZone {
        top: 539px;
        left: 148px;
    }

    #doorKeypadZone {
        top: 529px;
        left: 358px;
    }

    #doorLockZone {
        top: 550px;
        left: 393px;
    }

    #garageWaterTankZone {
        top: 515px;
        left: 873px;
    }

    #garageScreenZone {
        top: 514px;
        left: 919px;
    }

    #outsideMotionSensorRight {
        top: 484px;
        left: 967px;
    }
}
