@media screen and (max-width: 1024px) {
  #spotlightLeftZone {
    top: 29px !important;
    left: 7px !important;
  }

  #tvSpeakerZone {
    top: 164px;
    left: 151px;
  }

  #tvDeviceZone {
    top: 101px;
    left: 196px;
  }

  #tvThermostatZone {
    top: 118px;
    left: 324px;
  }

  #bedroomLightZone {
    top: 120px;
    left: 435px;
  }

  #bedroomTableZone {
    top: 162px;
    left: 700px;
  }

  #spotlightRightZone {
    top: 47px;
    left: 814px;
  }

  #outsideMotionSensorLeft {
    top: 300px;
    left: 26px;
  }

  #kitchenTvZone {
    top: 360px;
    left: 150px;
  }

  #doorKeypadZone {
    top: 350px;
    left: 362px;
  }

  #doorLockZone {
    top: 360px;
    left: 390px;
  }

  #garageWaterTankZone {
    top: 330px;
    left: 507px;
  }

  #garageScreenZone {
    top: 327px;
    left: 919px;
  }

  #outsideMotionSensorRight {
    top: 300px;
    left: 956px;
  }
}
