// Laptop Pulse Locations
@media screen and (max-width: 1024px) {
    #spotlightLeftZone {
        top: 213px;
        left: 7px;
    }

    #tvSpeakerZone {
        top: 348px;
        left: 151px;
    }

    #tvDeviceZone {
        top: 282px;
        left: 196px;
    }

    #tvThermostatZone {
        top: 294px;
        left: 324px;
    }

    #bedroomLightZone {
        top: 312px;
        left: 515px;
    }

    #bedroomTableZone {
        top: 346px;
        left: 680px;
    }

    #spotlightRightZone {
        top: 215px;
        left: 814px;
    }

    #outsideMotionSensorLeft {
        top: 482px;
        left: 26px;
    }

    #kitchenTvZone {
        top: 538px;
        left: 150px;
    }

    #doorKeypadZone {
        top: 530px;
        left: 362px;
    }

    #doorLockZone {
        top: 536px;
        left: 390px;
    }

    #garageWaterTankZone {
        top: 512px;
        left: 871px;
    }

    #garageScreenZone {
        top: 514px;
        left: 919px;
    }

    #outsideMotionSensorRight {
        top: 482px;
        left: 956px;
    }
}
