// Tablet Pulse Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZone {
        top: 322px;
        left: -3px;
    }

    #tvSpeakerZone {
        top: 422px;
        left: 103px;
    }

    #tvDeviceZone {
        top: 372px;
        left: 140px;
    }

    #tvThermostatZone {
        top: 380px;
        left: 233px;
    }

    #bedroomLightZone {
        top: 394px;
        left: 379px;
    }

    #bedroomTableZone {
        top: 420px;
        left: 505px;
    }

    #spotlightRightZone {
        top: 323px;
        left: 604px;
    }

    #outsideMotionSensorLeft {
        top: 522px;
        left: 8px;
    }

    #kitchenTvZone {
        top: 564px;
        left: 103px;
    }

    #doorKeypadZone {
        top: 558px;
        left: 264px;
    }

    #doorLockZone {
        top: 564px;
        left: 286px;
    }

    #garageWaterTankZone {
        top: 544px;
        left: 644px;
    }

    #garageScreenZone {
        top: 546px;
        left: 682px;
    }

    #outsideMotionSensorRight {
        top: 522px;
        left: 711px;
    }
}
