// Tablet Pulse Locations
@media screen and (max-width: 768px) {
    #spotlightLeftZone {
        top: 331px;
        left: 4px;
    }

    #tvSpeakerZone {
        top: 421px;
        left: 105px;
    }

    #tvDeviceZone {
        top: 368px;
        left: 140px;
    }

    #tvThermostatZone {
        top: 374px;
        left: 240px;
    }

    #bedroomLightZone {
        top: 386px;
        left: 380px;
    }

    #bedroomTableZone {
        top: 417px;
        left: 505px;
    }

    #spotlightRightZone {
        top: 329px;
        left: 607px;
    }

    #outsideMotionSensorLeft {
        top: 521px;
        left: 2px;
    }

    #kitchenTvZone {
        top: 561px;
        left: 103px;
    }

    #doorKeypadZone {
        top: 557px;
        left: 262px;
    }

    #doorLockZone {
        top: 577px;
        left: 289px;
    }

    #garageWaterTankZone {
        top: 547px;
        left: 642px;
    }

    #garageScreenZone {
        top: 543px;
        left: 679px;
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: 716px;
    }
}
