@media screen and (max-width: 768px) {
    #spotlightLeftZone {
        top: calc(322px - 214px);
        left: -3px;
    }

    #tvSpeakerZone {
        top: 111px;
        left: 103px;
    }

    #tvDeviceZone {
        top: 63px;
        left: 140px;
    }

    #tvThermostatZone {
        top: 73px;
        left: 233px;
    }

    #bedroomLightZone {
        top: 84px;
        left: 309px;
    }

    #bedroomTableZone {
        top: 107px;
        left: 500px;
    }

    #spotlightRightZone {
        top: 17px;
        left: 604px;
    }

    #outsideMotionSensorLeft {
        top: 210px;
        left: 8px;
    }

    #kitchenTvZone {
        top: 253px;
        left: 103px;
    }

    #doorKeypadZone {
        top: 246px;
        left: 255px;
    }

    #doorLockZone {
        top: 260px;
        left: 286px;
    }

    #garageWaterTankZone {
        top: 240px;
        left: 364px;
    }

    #garageScreenZone {
        top: 238px;
        left: 666px;
    }

    #outsideMotionSensorRight {
        top: 212px;
        left: 706px;
    }
}
