// Mobile L Pulse Locations
@media screen and (max-width: 500px) {
    #spotlightLeftZone {
        top: 62px;
        left: 70px;
    }

    #tvSpeakerZone {
        top: 168px;
        left: 117px;
    }

    #tvDeviceZone {
        top: 48px;
        left: 191px;
    }
    #tvThermostatZone {
        top: 70px;
        left: 417px;
    }

    #bedroomLightZone {
        top: 98px;
        left: 72px;
    }
    #bedroomTableZone {
        top: 152px;
        left: 374px;
    }

    #spotlightRightZone {
        top: 329px;
        left: 607px;
    }

    #outsideMotionSensorLeft {
        top: 22px;
        left: 240px;
    }

    #kitchenTvZone {
        top: 116px;
        left: 204px;
    }

    #doorKeypadZone {
        top: 108px;
        left: 127px;
    }

    #doorLockZone {
        top: 120px;
        left: 169px;
    }

    #garageWaterTankZone {
        top: 84px;
        left: 339px;
    }

    #garageScreenZone {
        top: 86px;
        left: 402px;
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: 716px;
    }
}

// Mobile L Pulse Locations
@media screen and (max-width: 425px) {
    #spotlightLeftZone {
        top: 70px;
        left: 54px;
    }

    #tvSpeakerZone {
        top: 162px;
        left: 96px;
    }

    #tvDeviceZone {
        top: 60px;
        left: 164px;
    }

    #tvThermostatZone {
        top: 78px;
        left: 352px;
    }

    #bedroomLightZone {
        top: 102px;
        left: 58px;
    }

    #bedroomTableZone {
        top: 148px;
        left: 314px;
    }

    #spotlightRightZone {
        top: 329px;
        left: 607px;
    }

    #outsideMotionSensorLeft {
        top: 41px;
        left: 200px;
    }

    #kitchenTvZone {
        top: 118px;
        left: 172px;
    }

    #doorKeypadZone {
        top: 108px;
        left: 105px;
    }

    #doorLockZone {
        top: 118px;
        left: 142px;
    }

    #garageWaterTankZone {
        top: 87px;
        left: 282px;
    }

    #garageScreenZone {
        top: 92px;
        left: 339px;
    }

    #outsideMotionSensorRight {
        top: 515px;
        left: 716px;
    }
}

// Mobile M Pulse Locations
@media screen and (max-width: 375px) {
    #spotlightLeftZone {
        top: 78px;
        left: 45px;
    }

    #tvSpeakerZone {
        top: 156px;
        left: 82px;
    }

    #tvDeviceZone {
        top: 64px;
        left: 138px;
    }

    #tvThermostatZone {
        top: 80px;
        left: 308px;
    }

    #bedroomLightZone {
        top: 102px;
        left: 48px;
    }

    #bedroomTableZone {
        top: 144px;
        left: 273px;
    }

    #spotlightRightZone {
        top: 329px;
        left: 607px;
    }

    #outsideMotionSensorLeft {
        top: 46px;
        left: 174px;
    }

    #kitchenTvZone {
        top: 116px;
        left: 150px;
    }
    #doorKeypadZone {
        top: 108px;
        left: 90px;
    }

    #doorLockZone {
        top: 118px;
        left: 123px;
    }

    #garageWaterTankZone {
        top: 90px;
        left: 246px;
    }

    #garageScreenZone {
        top: 92px;
        left: 294px;
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: 716px;
    }
}

// Mobile S Pulse Locations
@media screen and (max-width: 320px) {
    #spotlightLeftZone {
        top: 78px;
        left: 28px;
    }
    #tvSpeakerZone {
        top: 154px;
        left: 62px;
    }

    #tvDeviceZone {
        top: 68px;
        left: 116px;
    }

    #tvThermostatZone {
        top: 82px;
        left: 270px;
    }

    #bedroomLightZone {
        top: 98px;
        left: 28px;
    }

    #bedroomTableZone {
        top: 142px;
        left: 239px;
    }

    #spotlightRightZone {
        top: 329px;
        left: 607px;
    }

    #outsideMotionSensorLeft {
        top: 50px;
        left: 147px;
    }

    #kitchenTvZone {
        top: 118px;
        left: 122px;
    }

    #doorKeypadZone {
        top: 108px;
        left: 68px;
    }
    #doorLockZone {
        top: 118px;
        left: 99px;
    }

    #garageWaterTankZone {
        top: 94px;
        left: 214px;
    }

    #garageScreenZone {
        top: 94px;
        left: 262px;
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: 716px;
    }
}
