// Mobile L Pulse Locations
@media screen and (max-width: 500px) {
    #spotlightLeftZone {
        top: 62px;
        left: calc(70px - 20px);
    }

    #tvSpeakerZone {
        top: 168px;
        left: calc(117px - 20px);
    }

    #tvDeviceZone {
        top: 48px;
        left: calc(191px - 20px);
    }
    #tvThermostatZone {
        top: 70px;
        left: calc(417px - 20px);
    }

    #bedroomLightZone {
        top: 98px;
        left: calc(72px - 20px);
    }
    #bedroomTableZone {
        top: 152px;
        left: calc(374px - 20px);
    }

    #spotlightRightZone {
        top: 329px;
        left: calc(607px - 20px);
    }

    #outsideMotionSensorLeft {
        top: 22px;
        left: calc(240px - 20px);
    }

    #kitchenTvZone {
        top: 116px;
        left: calc(204px - 20px);
    }

    #doorKeypadZone {
        top: 108px;
        left: calc(127px - 20px);
    }

    #doorLockZone {
        top: 120px;
        left: calc(169px - 20px);
    }

    #garageWaterTankZone {
        top: 84px;
        left: calc(339px - 20px);
    }

    #garageScreenZone {
        top: 86px;
        left: calc(402px - 20px);
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: calc(716px - 20px);
    }
}

// Mobile L Pulse Locations
@media screen and (max-width: 425px) {
    #spotlightLeftZone {
        top: 70px;
        left: calc(54px - 20px);
    }

    #tvSpeakerZone {
        top: 162px;
        left: calc(96px - 20px);
    }

    #tvDeviceZone {
        top: 60px;
        left: calc(164px - 20px);
    }

    #tvThermostatZone {
        top: 78px;
        left: calc(352px - 20px);
    }

    #bedroomLightZone {
        top: 102px;
        left: calc(58px - 20px);
    }

    #bedroomTableZone {
        top: 148px;
        left: calc(314px - 20px);
    }

    #spotlightRightZone {
        top: 329px;
        left: calc(607px - 20px);
    }

    #outsideMotionSensorLeft {
        top: 41px;
        left: calc(200px - 20px);
    }

    #kitchenTvZone {
        top: 118px;
        left: calc(172px - 20px);
    }

    #doorKeypadZone {
        top: 108px;
        left: calc(105px - 20px);
    }

    #doorLockZone {
        top: 118px;
        left: calc(142px - 20px);
    }

    #garageWaterTankZone {
        top: 87px;
        left: calc(282px - 20px);
    }

    #garageScreenZone {
        top: 92px;
        left: calc(339px - 20px);
    }

    #outsideMotionSensorRight {
        top: 515px;
        left: calc(716px - 20px);
    }
}

// Mobile M Pulse Locations
@media screen and (max-width: 375px) {
    #spotlightLeftZone {
        top: 78px;
        left: calc(45px - 20px);
    }

    #tvSpeakerZone {
        top: 156px;
        left: calc(82px - 20px);
    }

    #tvDeviceZone {
        top: 64px;
        left: calc(138px - 20px);
    }

    #tvThermostatZone {
        top: 80px;
        left: calc(308px - 20px);
    }

    #bedroomLightZone {
        top: 102px;
        left: calc(48px - 20px);
    }

    #bedroomTableZone {
        top: 144px;
        left: calc(273px - 20px);
    }

    #spotlightRightZone {
        top: 329px;
        left: calc(607px - 20px);
    }

    #outsideMotionSensorLeft {
        top: 46px;
        left: calc(174px - 20px);
    }

    #kitchenTvZone {
        top: 116px;
        left: calc(150px - 20px);
    }
    #doorKeypadZone {
        top: 108px;
        left: calc(90px - 20px);
    }

    #doorLockZone {
        top: 118px;
        left: calc(123px - 20px);
    }

    #garageWaterTankZone {
        top: 90px;
        left: calc(246px - 20px);
    }

    #garageScreenZone {
        top: 92px;
        left: calc(294px - 20px);
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: calc(716px - 20px);
    }
}

// Mobile S Pulse Locations
@media screen and (max-width: 320px) {
    #spotlightLeftZone {
        top: 78px;
        left: calc(28px - 20px);
    }
    #tvSpeakerZone {
        top: 154px;
        left: calc(62px - 20px);
    }

    #tvDeviceZone {
        top: 68px;
        left: calc(116px - 20px);
    }

    #tvThermostatZone {
        top: 82px;
        left: calc(270px - 20px);
    }

    #bedroomLightZone {
        top: 98px;
        left: calc(28px - 20px);
    }

    #bedroomTableZone {
        top: 142px;
        left: calc(239px - 20px);
    }

    #spotlightRightZone {
        top: 329px;
        left: calc(607px - 20px);
    }

    #outsideMotionSensorLeft {
        top: 50px;
        left: calc(147px - 20px);
    }

    #kitchenTvZone {
        top: 118px;
        left: calc(122px - 20px);
    }

    #doorKeypadZone {
        top: 108px;
        left: calc(68px - 20px);
    }
    #doorLockZone {
        top: 118px;
        left: calc(99px - 20px);
    }

    #garageWaterTankZone {
        top: 94px;
        left: calc(214px - 20px);
    }

    #garageScreenZone {
        top: 94px;
        left: calc(262px - 20px);
    }

    #outsideMotionSensorRight {
        top: 519px;
        left: calc(716px - 20px);
    }
}
